<h4>Home component</h4>

<div class="mb-2">
    <input #inputRef (keyup)="onKeyUp($event)">
    <p *ngIf="messageToSend"><small>You will send: "{{ messageToSend }}" to App Component</small></p>
</div>

<button (click)="sendMessageViaOutput()" class="btn btn-primary mr-1">Send Message via OutPut</button>
<button (click)="sendMessageViaSubject()" class="btn btn-primary mr-1">Send Message via Subject</button>
<button (click)="clearMessages(inputRef)" class="btn btn-secondary ml-1">Clear Messages</button>
